#main {
    background-color: whitesmoke;
}


#image {
    display: block;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 508px;
    border: 5px solid gold;
    size: ;
    
}

#tribute-info {
    text-align: center;
    background-color: whitesmoke;
}


#img-caption {
    text-align: center;
    font-size: 28px;
    font-style:inherit;
}

#title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 45px;
    color: black;
    

    
}